* {
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: #ededed;
}

h2, h3 {
  color: #34D399;
  margin-bottom: 0.5rem;
}

footer {
  padding: 20px;
  color: white;
  background-color : #34D399;
  text-align: center;
  font-weight: bold;
}

nav a {
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
  color: white;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

nav a:hover {
  font-weight: bold;
  background-color : #34D399;
}

.profile header {
  text-align: center;
}

.featured-image {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.profile img {
  width: 200px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 20px;
  background-color: white;
  margin-bottom: 20px;
}

.jumbotron {
  font-size: 20px;
  padding: 60px;
  background-color: #34D399;
  text-align: center;
  color: white;
  border-radius: 5px;
  margin-bottom: 20px;
}

nav ul {
  padding-inline: 4rem;
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav li {
  list-style-type: none;
}

nav {
  background-color: #34D399;
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

main {
  padding: 20px;
  display: flex;
  gap: 1.5rem;
}

#content {
  flex: 5;
  display: flex;
  flex-flow: column nowrap;
  gap: 1rem 2rem;
}

aside {
  flex: 1;
}

header {
  display: inline;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

table th, table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

@media screen and (max-width: 1200px) {
  main {
    flex-flow: column nowrap;
  }

  main aside {
    align-self: center;
  }
}

@media screen and (max-width: 768px) {
  nav ul {
    justify-content: center;
    flex-wrap: wrap;
  }

  main aside {
    align-self: stretch;
  }
}